* {
    margin: 0;
    padding: 0;

}

/* home page */
.home {
    height: 780px;

    border: 2px solid black;
    background: url('./images123/bg1.jpg');
    position: relative;
    z-index: -1;
    background-size: cover;

    font-family: 'Baloo Bhai ', cursive;
    color: white;
}

/* logo */
.logo img {
    width: 92px;
    height: 85px;
    /* background-image: url('logo.jpg'); */
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    margin-left: 12px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 60px;


}

.navbar {
    /* padding: 12px;
    height: 100px; */
    display: flex;
    align-content: center;
    justify-items: center;
    /* border: 2px solid red; */
    position: relative;
    margin: 0px 50px;
    width: 82%;
    flex-wrap: wrap;


}


.navbar ul {
    list-style: none;
    display: flex;
    align-content: center;
    justify-items: center;
    /* position: relative; */


    /* border: 2px solid red; */
}

ul a {
    width: 20px;
    margin: 12px 23px;
    /* position: relative; */
    text-decoration: none;
    align-items: center;
    text-align: center;
    font-size: 28px;
    /* color: rgb(0, 0, 0); */
    /* width: 61%; */
    color: white;
}

ul a:hover {
    color: rgb(10, 10, 10);
    font-size: 30px;

}

.navigation {
    display: flex;
    align-content: center;
    justify-items: center;
    background-color: rgba(74, 50, 50, 0.71);
    width: 100%;
    /* height: 123px; */
    opacity: 0.8;
    flex-wrap: wrap;

}

.box {
    padding: 5px;
    margin: 7px 27px;
    text-align: center;


}

/* middle page */
.middle {
    /* display: block; */
    text-align: center;
    /* margin-top: 45px;
   height: 260px; */



    height: 650px;
    /* border: 2px solid; */
    /* margin: 0px auto; */
}

/* para */
.para {
    display: flex;
    margin-top: 200px;
    flex-direction: column;

}

.middle p {
    font-size: 1.5rem;
}

H1 {
    align-items: center;
    font-size: 2.5rem;
}

.btn button {
    height: 45px;
    width: 150px;
    border-radius: 13px;
    margin: 0px auto;
    background-color: #9f9f9f;
    margin-top: 13px;
};

.btn button:hover {
    
    background-color: aliceblue;
    color: black;

}

/* End */
.End {
    display: flex;
    justify-content: center;
    padding: 0px;
    height: 200px;
    width: 200px;
    border: 2px solid yellow;
    font-family: 'Baloo Bhai ', cursive;
    color: white;

}

.home1 h2 {
    font-size: 2.2rem;
    text-align: center;
    font-family: 'Baloo Bhai ', cursive;
}

.container {
    display: flex;
    align-content: center;
    justify-items: center;
    font-family: 'Baloo Bhai ', cursive;
    color: rgb(0, 0, 0);
    height: 333px;
    /* border: 2px solid; */


}

.home-info {
    margin-top: 23px;
}

.boxes {


    /* border: 2px solid red; */
    /* border-radius: 20px; */
    margin: 20px 20px;
    height: 260px;
    text-align: center;



}

.boxes img {
    display: block;
    margin: 0px auto;
    height: 149px;
    width: 200px;
}

.boxes h1 {
    font-size: 20px;
}

.boxes p {
    font-size: 15px;
}

#box1 {

    border: 2px solid red;
    border-radius: 20px;

    /* padding: 12px */


}

#box2 {
    border: 2px solid red;
    border-radius: 20px;

    background: no-repeat center center/cover;
    /* padding: 12px 12px; */
}

#box3 {
    border: 2px solid red;
    border-radius: 20px;

    background: no-repeat center center/cover;
    /* padding: 12px 12px; */
}

/* Contact Section */
.contact-form h2 {
    font-size: 2.2rem;
    text-align: center;
    font-family: 'Baloo Bhai ', cursive;
    margin-top: 12px;
  
}
form{
    /* border: 2px solid; */
    /* padding: 13px 34px; */
     display: flex; 
     flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 22px 0px;

}
label{
    font-size: 1.5rem;
    font-family: 'Baloo Bhai ', cursive;
}
::placeholder{
    font-size: 20px;
    font-family: 'Baloo Bhai ', cursive;
}
 input[type="text"]{
    height: 48px;
    width: 577px;
    border: 2px solid red;
    border-radius: 14px;
    /* margin: 3px 0px; */
    font-size: 22px;
}
textarea{
    height: 171px;
    width: 577px;
    border: 2px solid red;
    border-radius: 14px;
    font-size: 22px;
    /* margin: 7px 0px; */
}
input[type="button"]{
    height: 32px;
    width: 104px;
    border-radius: 4px;
    margin: 7px 9px;
    background-color: #9f9f9f;
}
input[type="button"]:hover{
    background-color: aliceblue;
    color: black;
}
/* Clients section */
.clients {

    display: flex;
    align-content: center;
    justify-items: center;
    justify-content: center;

}

.clients img {
    width: 256px;
    height: 256px;

}

.clientsection h2 {
    font-size: 2.2rem;
    text-align: center;
    font-family: 'Baloo Bhai ', cursive;
}

/* footer */
.center {

    height: 20px;

    align-items: center;
    text-align: center;
    color: white;
    background-color: rgb(24, 22, 22);
}